<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/bootstrap.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Actualizar Tarea</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <main>
        <article>
            <section class="w-96 bg-teal-500 h-auto m-12 mx-auto rounded-t-lg rounded-b-lg p-3">
                <form action="" method="post">
                    <div class="flex flex-col p-5">
                        <label for="">Nombre de la tarea</label>
                        <input type="text" name="nombre_t" class="rounded-lg shadow-md shadow-teal-300 text-center">
                    </div>
                    <div class="flex flex-col p-5">
                        <label for="">Fecha Inicio</label>
                        <input type="date" name="fecha_inicio_t" class="rounded-lg shadow-md shadow-teal-300 text-center">
                    </div>
                    <div class="flex flex-col p-5">
                        <label for="">Fecha Final</label>
                        <input type="date" name="fecha_final_t" class="rounded-lg shadow-md shadow-teal-300 text-center">
                    </div>
                    <div class="flex flex-col p-5">
                        <label for="">Estado</label>
                        <select name="estado" id="" class="rounded-lg shadow-md shadow-teal-300 text-center">
                            <option value="Por asignar">Por asignar</option>
                            <option value="Terminado">Terminado</option>
                            <option value="En proceso">En proceso</option>
                        </select>
                        <div class="flex flex-col p-5">
                            <input type="submit" value="actualizar tarea" class="shadow-md shadow-teal-300 text-xl border-dotted rounded-lg bg-teal-300 p-2 cursor-pointer">
                        </div>
                    </div>
                </form>
            </section>
        </article>
    </main>
    

    <!--  Contenido modal :p 
    <div class="modal" id="Mtareas">
        <div class="modal-dialog">
            <div class="modal-content">
                 Header 
                <div class="modal-header">
                    <h1 class="modal-title">Actualizacion de datos de la tarea</h1>
                </div>
                 Body 
                <div class="modal-body">
                    
                </div>
                 Footer 
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">
                        Actualizar datos
                    </button>
                </div>
            </div>
        </div>
    </div> -->

    
</body>
</html>