<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="{{url_for('static',filename='CSS/bootstrap.css')}}">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="d-flex justify-content-end">
        <div>
            {% if 'usuario_u' in session %}
            <p class="ml-3">Bienvenido, {{session['usuario_u']}} - rol: {{session['rol_u']}}</p>
            {% endif %}
        </div>
    </div>


    <section class="m-5 p-2 bg-cyan-300 flex flex-col rounded-xl shadow-md shadow-black">
        <p class="text-2xl m-5">Eres admin :3</p>
        <div>
            <a href="/salir"><input type="button" value="Cerrar Sesion" class="cursor-pointer border-2 border-black border-solid p-2 m-5 bg-white rounded-xl hover:bg-red-100 hover:text-xl hover:-translate-x-2 hover:scale-110 duration-300 hover:duration-300"></a>
        </div>
        <div>
            <a href="/Registro-Usuario-admin"><input type="button" value="Registrar usuario" class="cursor-pointer border-2 border-black border-solid p-2 m-5 bg-white rounded-xl hover:bg-red-100 hover:text-xl hover:-translate-x-2 hover:scale-110 duration-300 hover:duration-300"></a>
        </div>
        <div>
            <a href="/Registro-Tareas-admin"><input type="button" value="Registrar tarea" class="cursor-pointer border-2 border-black border-solid p-2 m-5 bg-white rounded-xl hover:bg-red-100 hover:text-xl hover:-translate-x-2 hover:scale-110 duration-300 hover:duration-300"></a>
        </div>
        <div>
            <a href="/grafica_admin"><button class="cursor-pointer border-2 border-black border-solid p-2 m-5 bg-white rounded-xl hover:bg-red-100 hover:text-xl hover:-translate-x-2 hover:scale-110 duration-300 hover:duration-300"> Mostrar graficas</button></a>
        </div>
    </section>

    <section class="m-5 p-2 bg-cyan-300 flex flex-col rounded-xl shadow-md shadow-black">
        <nav class="menu d-flex justify-content-between">
            <ul class="nav">
                <form action="/buscar_usuario" method="post" class="flex flex-row">
                    <div class="input-group">
                        <input type="text" class="form-control" name="busquedaU" placeholder="Buscar Usuario">
                    </div>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-danger" value="Buscar">
                    </div>
                </form>
            </ul>
        </nav>
        <a href="/lista" class="w-52 text-lg">Registros de los usuarios</a>
        <table class="border-2 border-solid border-black m-5">
            <thead>
                <tr>
                    <th>
                        ID: 
                    </th>
                    <th>
                        Nombre:
                    </th>
                    <th>
                        Apellido:
                    </th>
                    <th>
                        Email:
                    </th>
                    <th>
                        Usuario:
                    </th>
                    <th>
                        Rol:
                    </th>
                </tr>
            </thead>
            <tbody class="border-2 border-solid border-black m-5">
                {% for lista in lista %}
                <tr>
                    <td>{{lista[0]}}</td>
                    <td>{{lista[1]}}</td>
                    <td>{{lista[2]}}</td>
                    <td>{{lista[3]}}</td>
                    <td>{{lista[4]}}</td>
                    <td>{{lista[6]}}</td>
                    <td><a href="{{ url_for('eliminar_usu', id= lista[0])}}" class="btn btn-danger">Eliminar</a></td>
                    <td><a href="{{ url_for('actu_usuario', id= lista[0])}}" class="btn btn-primary" >Actualizar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <section class="m-5 p-2 bg-cyan-300 flex flex-col rounded-xl shadow-md shadow-black">
        <nav class="menu d-flex justify-content-between">
            <ul class="nav">
                <form action="/buscar_tarea" method="post" class="flex flex-row">
                    <div class="input-group">
                        <input type="text" class="form-control" name="busqueda" placeholder="Buscar Tarea">
                    </div>
                    <div class="input-group-append">
                        <input type="submit" class="btn btn-danger" value="Buscar">
                    </div>
                </form>
            </ul>
        </nav>
        <a href="/tareas" class="w-52 text-lg">Registros de las tareas</a>
        <table class="border-2 border-solid border-black m-5">
            <thead>
                <tr>
                    <th>
                        ID: 
                    </th>
                    <th>
                        Nombre-Tarea:
                    </th>
                    <th>
                        Fecha de inicio:
                    </th>
                    <th>
                        Fecha de finalizacion:
                    </th>
                    <th>
                        Estado:
                    </th>
                    <th>
                        ID del usuario:
                    </th>
                </tr>
            </thead>
            <tbody >
                {% for listaT in listaT %}
                <tr>
                    <td>{{listaT[0]}}</td>
                    <td>{{listaT[1]}}</td>
                    <td>{{listaT[2]}}</td>
                    <td>{{listaT[3]}}</td>
                    <td>{{listaT[4]}}</td>
                    <td>{{listaT[5]}}</td>
                    <td><a href="{{ url_for('eliminar_tare', id= listaT[0])}}" class="btn btn-danger">Eliminar</a></td>
                    <td>
                        <a href="{{ url_for('actu_tareas', id= listaT[0])}}" class="btn btn-primary" id="btnActulizar">Actualizar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>